@keyframes blurBackground {
    0% {
        background: black;
    }
    20% {
        backdrop-filter: blur(0);
    }
    100% {
        backdrop-filter: blur(3px);
        background: var(--dark-colour-opacity-1);
    }
}

@keyframes spaceLetters {
    0% {
        letter-spacing: 0.2em;
    }

    100% {
        letter-spacing: 0.4em;
    }
}
@media screen and (max-width: 1000px) {
    .registration-text {
        font-size: 20px;
        padding: 1em;
    }
    .registration-text b {
        font-size: 30px;
    }

    .registration-window {
        width: 100%;
    }
}

@media screen and (min-width: 1000px) {
    .registration-text {
        font-size: 1.5em;
        padding: 1em;
    }

    .registration-text b {
        font-size: 2em;
    }

    .registration-window {
        width: 800px;
        border-radius: 0.5em;
    }
}
.registration-background {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: 2s ease-out 0s 1 blurBackground;
    animation-fill-mode: forwards;
}

.registration-window {
    display: flex;
    flex-direction: column;
    background: rgb(8, 86, 130);
    color: white;
}

input[type=text] {
    margin: 1em;
    background: var(--light-gray-colour);
    border: 0;

    font-size: 1.25em;
    width: 80%;
    align-self: center;
    height: 2em;
}

input:focus {
    outline: none;
}

.input-and-send-button {

    display: flex;
}

.registration-background .title {
    font-size: 3em;
    margin-bottom: 0.5em;
    animation: 5s ease-in-out forwards spaceLetters;
    animation-iteration-count: 1;
    color: white;
}
