
.header {
    display: flex;
    align-items: center;

    margin-bottom: 0.5em;
    font-weight: bold;
    justify-content: space-between;
}

.header .title {
    font-size: 3em;
    margin-bottom: 0.5em;
    color: var(--title-text-colour);
}

.header .subtitle {
    padding-left: 1em;
}


.header-left-side {
    display: flex;
    align-items: center;
}
