.chat-bubble-wrapper {
    display: flex;
}

.single-message {
    white-space: pre-line;
}

.single-message ~ .single-message {
    padding-top: 0.4em;
    margin-top: 0.4em;
    border-top: 1px solid rgb(243 243 243);
}

.chat-bubble-wrapper.right {
    justify-content: flex-end;
}

.chat-bubble {
    background: var(--body-background);
    min-width: 200px;
    max-width: 400px;
    min-height: 50px;
    padding: 10px;
    margin: 0.3em 0;
}

.chat-bubble-time {
    font-size: 0.8em;
    align-items: flex-end;
    display: flex;
    float: left;
    opacity: 0.5;
}

.chat-bubble-wrapper.right .chat-bubble-time {
    margin-left: 1em;
}

.chat-bubble-wrapper.left .chat-bubble-time {
    margin-right: 1em;
}

.chat-bubble-wrapper.right {
    flex-direction: row-reverse;
    display: flex;
    align-self: flex-end;
}

.chat-bubble-wrapper.left .chat-bubble {
    border-radius: 10px 10px 10px 0;
}

.chat-bubble-wrapper.right .chat-bubble {
    border-radius: 10px 10px 0 10px;
    background: rgb(223, 223, 223);
}

.sender-name {
    opacity: 0.5;
    font-size: 0.8em;
    text-align: right;
}
