@media screen and (min-width: 1000px) {
    .input-and-submit-wrapper {
        border-bottom-right-radius: 0.5em;
        border-bottom-left-radius: 0.5em;
    }
}

.input-and-submit-wrapper {
    display: flex;
    overflow: hidden;
}

.input-and-submit-wrapper input {
    flex: 1;
    margin: 0;
    background: var(--light-gray-colour);
    border: 0;
    font-size: 1.25em;
    padding: 0 1em;
    border-radius: 0;
}

.input-and-submit-wrapper input:focus {
    outline: none;
}


.input-and-submit-wrapper .send-button-wrap {
    background: var(--light-gray-colour);
    display: flex;
    align-items: center;
    padding-right: 1em;
}

.input-and-submit-wrapper .send-button-wrap svg {
    color: var(--text-colour);
}


.input-and-submit-wrapper .send-button-wrap svg:hover {
    cursor: pointer;
}
