.Chat {
    max-width: 1000px;
    margin: 5vh auto 0 auto;
    font-size: 20px;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--chat-background);
    border: 0;
}

::-webkit-scrollbar-thumb {
    background: var(--dark-body-background);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--darker-body-background);
}


.chat-content {
    display: flex;
    background: var(--chat-background);
    padding: 20px;
    height: 70vh;
    overflow: hidden;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.empty-filler {
    min-height: 50px;
}


@media only screen and (max-width: 600px) {
    .header . {
        font-size: 2em;
    }

    .chat-content {
        height: 50vh;
    }

    .empty-filler {
        min-height: 10px;
    }
}

.logged-user-info {
    display: flex;
    align-items: center;
}

.logout-button-wrap {
    margin: 0 0 -0.3em 0.5em;
}

.logout-button-wrap:hover {
    cursor: pointer;
}

.chat-currently-typing {
    background: var(--chat-background);
    font-style: italic;
    font-size: 0.8em;
}
