* {
  --light-gray-colour: #e0e0e0;
  --dark-colour-opacity-1: rgba(41, 54, 45, 0.90);

  --chat-background: #ffffff;
  --body-background: #bbe1ff;

  --dark-body-background: #7bc7ff;
  --darker-body-background: #4ab6ff;

  --title-text-colour: rgb(8, 86, 130);
  --text-colour: black;
  transition: all 0.5s;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: var(--body-background);
}

